.wrapper {
    width: 100%;
  }
  
  .similarlContainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .similarItemSlide {
    flex: 0 0 auto;      /* Prevent flex items from shrinking */
    scroll-snap-align: start; /* Snap alignment */
  }
  
  .scrollButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .arrowScrollButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .arrowScrollButton:active {
    transform: scale(0.9);
  }
  
  .dotsContainer {
    display: flex;
    justify-content: center;
    max-width: 150px;
  }
  
  .dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 0.25rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }

  .dot:hover {
    background-color: #999;
    transform: scale(1.2);
  }

  .activeDot {
    background-color: #F45145;
  }

  .activeDot:hover {
    background-color: #E2281B;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .arrowScrollButton {
      display: none; 
    }
  }
  