@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0); /* Start centered in the viewport */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); /* End at the final position below header */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.header {
  display: flex;
  width: 100%;
  height: 84px; /* Fixed height */
  align-items: center;
  padding: 0 2rem; /* Horizontal padding for header */
  background: #fefdfcef;
  box-shadow: var(--header-box-shadow);
  position: sticky;
  top: 0;
  z-index: 9999;
}



.nav {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1; /* Takes the remaining space */
  justify-content: space-between; /* Distribute space between logo, activities, and icons */
  margin: 0 auto;
  max-width: 1920px;
}

.menuContainer {
  display: flex;
  width: 506px;
  flex-direction: column; /* Stack the search bar and buttons vertically */
  align-items: center; /* Center the buttons horizontally */
  margin-top: 10px;
  z-index: 996;
}

.activityButtons {
  display: flex; /* Use flex to arrange buttons horizontally */
  align-items: center;
  padding-top: 10px;
  gap: 24px; /* Space between buttons */
}



.navButton,
.menuTextButton, .navButtonCatalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 28px;
  font-size: 16px;
  border: none;
  color: #160101;
  cursor: pointer;
  padding: 0 16px;
  transition: color 0.3s ease;
  background: none; 
}

.catalogArrow {
  transition: transform 0.3s ease;
}

.navButtonCatalog:hover .catalogArrow {
  transform: rotate(90deg);
}

.catalogContainer:hover .catalogArrow {
  transform: rotate(90deg);
}



.navButton:hover,
.menuTextButton:hover {
  color: #E2281B;
}

.separatorLine {
  display: none;
}

.searchBar {
  width: 256px;
  height: 24px;
  padding: 4px 6px;
  border-radius: 4px;
  background: #FEFDFC;
  box-shadow: 0px 0px 3px 0px #1601018A;
  border: none;
}

.dropdown {
  display: flex;
  position: fixed; 
  width: 100vw;
  align-items: center;
  justify-content: center;
  left: 50%; /* Start from the middle of the viewport */
  top: 84px; /* Position below the header */
  background: #fefdfcef;
  box-shadow: 0px 13px 19px -5px #2a28283d; 
  animation: slideDown 0.5s ease-out forwards;
  z-index: -1;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 0; /* Place the border at the top */
  left: 50%; /* Center the border horizontally */
  transform: translateX(-50%);
  width: 90%; /* Set the width of the border to half of the dropdown */
  border-top: 1px solid #1601013D; /* Define the border style */
}

.rightIcons {
  display: flex; /* Align the icon buttons horizontally */
  align-items: center; /* Center them vertically */
  gap: 20px; /* Space between icons */
  margin-top: 10px;
}

.iconContainer {
  display: flex; /* Stack the icon and label vertically */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center items horizontally */
  position: relative; /* Required for positioning the badge */
}

.iconButton {
  display: flex; /* Flexbox for alignment */
  flex-direction: column; /* Stack icon and label vertically */
  align-items: center; /* Center icon and label */
  background: none; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor */
  padding: 0; /* Remove padding */
  color: #160101; /* Icon color */
  transition: color 0.3s ease; /* Added transition for hover */
}

.iconButton:hover {
  color: #E2281B; /* Change color on hover */
}

.iconLabel {
  font-size: 11px; /* Label font size */
  text-align: center; /* Center text */
  margin-top: 4px; /* Space between icon and label */
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.7rem;
  line-height: 1;
  height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.burgerMenu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background: none;
  border: none;
  cursor: pointer;
}

.burgerMenu svg {
  display: flex;
  justify-content: center;
  align-items: center;
}


.catalogList {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; /* Прибирає маркери списку */
  padding: 0;
  margin: 0;
  gap: 8px; /* Відступ між елементами списку */
}

.catalogList li {
  width: 100%;
}

.dropdownItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px;
  text-decoration: none;
  color: #160101;
  cursor: pointer;
}

.dropdownItem:hover {
  color: #E2281B; /* Зміна кольору при наведенні */
}

@media (width > 1024px) {
  .header:has(.dropdown) {
    box-shadow: none;
  }
}

@media (width < 1024px) {

  .activityButtons{
    gap: 20px;
  }

  .navButton{
    font-size: 14px;
  }

}


@media (width < 936px) {

  .header {
    padding: 0 20px;
  }

.menuContainer {
  box-shadow: 0px 2px 4px 0px #16010133;
}

.noShadow {
  box-shadow: none !important;
}

  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    top: 4.2rem;
    left: 0;
    gap: 4px;
    border: none;
    width: 100%;
    background: #fefdfc;
    animation: fadeIn 0.3s ease-in forwards;
    z-index: 4;
  }

  .catalogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1rem 0;
    margin: 0;
  }

  .activityButtons {
    padding-left: 16px;
    padding-right: 16px;
    }

  .backButton,
  .closeButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #160101;
    cursor: pointer;
  }

  .backButton {
    font-size: 16px;
    position: absolute;
    left: 10px;
  }



  .menuTextButton {
    padding: 2px 16px;
  }

  .rightIcons .iconContainer:first-child,
  .rightIcons .iconContainer:nth-child(2) {
    display: none; /* Hide Account and Notification */
  }

  .header nav {
    margin: 0;
  }

  .menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    padding: 0 1rem;
  }

  .openBurgerLines{
    width: 20px;
    height: 20px;
  }

  .menuBackButton,
  .closeButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 16px;
    color: #160101;
    cursor: pointer;
  }

  .menuBackButton svg,
  .closeButton:hover svg path,
  .burgerMenu:hover svg path {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    stroke: #E2281B;
    transition: 0.3s;
  }

  .separatorLine {
    position: relative;
    width: 80%;
    align-self: center;
    height: 1px;
    background-color: #E3E0E0;
  }

  .burgerMenu {
    display: flex;
    margin-top: 17px;
  }

  .searchBar {
    display: none;
  }

  .searchIcon {
    display: block;
  }

  .menuContainer {
    position: relative;
    display: none; /* Hide on smaller screens by default */
    margin: 10px 40px;
    animation: fadeIn 0.3s ease-out forwards;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 4.3rem; /* Position below the header */
    left: -60px;
    width: 40%;
    background-color: #FEFDFC;
    box-shadow: 0px 0px 4px 0px #16010133;
    padding-bottom: 15px;
    z-index: 9998;
  }

  .activityButtons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-start; /* Align items to the left */
    width: 100%;
  }


  .navButton,
  .menuTextButton,
  .dropdownItem {
    color: #160101;
    justify-content: flex-start;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left; 
  }

  .navButton:first-child {
    width: 100%;
    justify-content: space-between;
  }


  .dropdownItem {
    height: 40px;
  }

  .logo_header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .rightIcons {
    display: flex;
    gap: 30px;
    margin-left: auto;
  }

  .iconButton svg {
    width: 30px;
    height: 30px;
  }

  .iconLabel {
    display: none; /* Hide icon text on mobile */
  }
}


@media (width > 912px) {

  .menuHeader,
  .menuTextButton {
    display: none !important;
  }
}

@media (width < 480px) {
  .logo_header img {
    width: 90px !important;
    height: auto;
  }

  .menuOpen {
    top: 3.9rem;
    width: 60%;
  }

  .rightIcons {
    gap: 20px; /* Reduce space between icons */
  }
}
