/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/* Root Variables for Color Themes */
:root {
    --foreground: #160101;
    --secondary-color: #E2281B;
    --background: #FEFDFC;
    --shadow-color: rgba(22, 1, 1, 0.24);
    --header-box-shadow: 0px 13px 19px -5px #1601013D;
}

/* Global Styles */
html,
body {
    height: auto;
    color: var(--foreground); /* Set text color */
    background: var(--background); /* Set background color */
    font-family: 'Inter', Arial, Helvetica, sans-serif; /* Use Inter font */
    -webkit-font-smoothing: antialiased; /* Improve font rendering */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    -webkit-text-size-adjust: 100%;
}

/* Resetting all elements */
* {
    box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Link Styles */
a {
    color: inherit; /* Use inherited color */
    text-decoration: none; /* Remove underline from links */
}

/* Media Query for Dark Mode */
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark; /* Set color scheme to dark */
    }
}
