.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 4rem;
}

/* breadcrumb styles  */

.breadcrumbContainer {
  /* This ensures the breadcrumb is full width and left-aligned. */
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  align-items: center;
}

.breadcrumb_item {
  display: inline;
}

.separator {
  margin: 0 8px;
}


.breadcrumb_item a {
  text-decoration: none;
}

.breadcrumb_item a:hover {
  text-decoration: underline;
}

/* product actions styles */

.parent {
  display: grid;
  grid-template-columns: 1.5fr 1fr; /* Adjusts for large screens */
  grid-template-rows: 1fr repeat(2, 1fr); /* Row heights for the sections */
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  width: 100%;
}



.descriptionSection {
 grid-area: 3 / 1 / 4 / 2; /* Images section */

}

.productInfoSection {
  grid-area: 1 / 2 / 2 / 3; /* Name, rating, favorites, color, cart section */
}

.deliveryInfoSection {
  grid-area: 2 / 2 / 3 / 3; /* Delivery info section */
}

.reviewsSection {
  grid-area: 3 / 2 / 4 / 3; /* Reviews section */
}