.footer {
  position: relative;
  color: #E3E0E0;
  background-image: url('/backgr.jpg');
  background-size: cover;
  background-position: 50% 46%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: auto;
}

/* Overlay for semi-transparent background color */
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #160101B2;
  z-index: 1;
}

/* Footer content styling */
.footerMenu,
.footerLogo,
.aboutUsTitle,
.forClientTitle,
.scheduleTitle,
.footerContactsText,
.scheduleText,
.footerContactsLink,
.footerSocial,
.footerSocialTitle,
.footerSocialIcons,
.footerSocialIcon img,
.footerCopy,
.aboutUs,
.forClient,
.schedule,
.footerLink {
  position: relative;
  z-index: 2;
}

.footerMenu {
  width: 100%;
  max-width: 1200px;
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footerLogo {
  margin-bottom: 15px;
}

.aboutUsTitle,
.forClientTitle,
.scheduleTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footerContactsText,
.scheduleText {
  font-size: 0.9em;
  margin: 5px 0;
}

.footerContactsLink {
  color: #61dafb;
  text-decoration: none;
}

.footerContactsLink:hover {
  text-decoration: underline;
}

.footerSocial {
  text-align: center;
}

.footerSocialTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footerSocialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: -35px; /* Adjusted for larger screens only */
  position: relative;
  z-index: 2;
}

.footerSocialIcon img {
  width: 24px;
  height: 24px;
}

.footerCopy {
  text-align: center;
  font-size: 0.8em;
  position: relative;
  z-index: 2;
}

.aboutUs,
.forClient {
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footerLink {
  color: #E3E0E0;
  text-decoration: none;
  margin: 5px 0;
}

.footerLink:hover {
  text-decoration: underline;
}

/* Desktop-specific style */
@media (min-width: 1144px) {
  .footer {
    height: 270px; /* Fixed height on desktop screens */
  }
}

@media (max-width: 796px) {
  .footerSocialIcons {
    margin-top: 10px; /* Reset margin for mobile */
    gap: 10px; /* Smaller gap between icons */
  }

  .footerCopy {
    margin-top: 10px; /* Reset margin for mobile */
  }

}

/* Responsive adjustments for small screens */
@media (max-width: 600px) {
  .footerMenu {
    grid-template-columns: 1fr; /* Single-column layout */
    gap: 20px;
  }

  .footerSocialIcons {
    margin-top: 10px; /* Reset margin for mobile */
    gap: 10px; /* Smaller gap between icons */
  }

  .footerCopy {
    margin-top: 10px; /* Reset margin for mobile */
  }

  .footerContactsText,
  .scheduleText {
    font-size: 0.8em;
  }

  .footerContactsTitle,
  .aboutUsTitle,
  .forClientTitle,
  .scheduleTitle,
  .footerSocialTitle {
    font-size: 1.2em;
  }
}
