.wrapper {
  width: 100%;
}

.bodyContentGrid {
    display: flex;
    justify-content: space-between; 
    height: 730px;
    
  }

  .productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 730px;
    width: fit-content;
  }


  
  .specialProductShowcase {
    display: flex;
    height: 100%;
  }
  
  .halfImageRight {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  

  .scrollButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .arrowScrollButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 4rem;
    display: flex;
    align-items: center;
  }
  
  .arrowScrollButton:active{
    transform: scale(0.9);
  }
  
  .dotsContainer {
    display: flex;
    justify-content: center;
    max-width: 150px;
  }
  
  .dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .activeDot {
    background-color: #F45145;
  }

  @media screen and (max-width: 1500px) {
  
    .bodyContentGrid{
      display: flex;
      justify-content: center;
      width: 100%;
    }


    .productCardSlide {
      flex: 0 0 auto;
      width: max-content;
      scroll-snap-align: start;
    }

    .specialProductShowcase {
        display: none;
      }
    }

  @media screen and (max-width: 1088px) {
    .bodyContentGrid {
      display: block;
      height: auto;

    }
    
      .productGrid {
        display: flex;
        height: max-content;
        width: 100%;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

  .scrollButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .arrowScrollButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .arrowScrollButton:active {
    transform: scale(0.9);
  }
  
  .dotsContainer {
    display: flex;
    justify-content: center;
    max-width: 150px;
  }
  
  .dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .activeDot {
    background-color: #F45145;
  }
  }

@media screen and (max-width: 768px) {

  .arrowScrollButton {
    display: none;
  }

  .productGrid {
    gap: 12px;
  }
}

@media screen and (max-width: 480px) {

}
