/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Root Variables for Color Themes */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* Global Styles */
html,
body {
    max-width: 100vw; /* Prevent horizontal overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    color: var(--foreground); /* Set text color */
    background: var(--background); /* Set background color */
    font-family: 'Inter', Arial, Helvetica, sans-serif; /* Use Inter font */
    -webkit-font-smoothing: antialiased; /* Improve font rendering */
    -moz-osx-font-smoothing: grayscale; /* Improve font rendering */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Resetting all elements */
* {
    box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Link Styles */
a {
    color: inherit; /* Use inherited color */
    text-decoration: none; /* Remove underline from links */
}

/* Media Query for Dark Mode */
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark; /* Set color scheme to dark */
    }
}
