.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .arrowButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 4rem;
    display: flex;
    align-items: center;
  }
  
  .arrowButton:active{
    transform: scale(0.9);
  }
  .paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .paginationCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .paginationCircle.active {
    background-color: #F45145; /* Highlight active page */
  }