.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Full height of the viewport */
  max-width: 100vw;
}


.headerImage {
  height: 32rem;
  background: url('/image_mainscreen.png') no-repeat center center; /* Your header image */
  background-size: cover; /* Cover the entire area */
  display: flex;
  flex-direction: column; /* Stack header content vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.heading {
  font-size: 4rem; 
  font-weight: 900;
  font-style: italic;
  line-height: 88px;
  color: #4A502B;
  padding-bottom: 10px; /* Optional: add space below if needed */
  margin-bottom: 1.5rem;
}

.subheading {
  width: 400px;
  height: 84px;
  font-size: 1.125rem;
  margin-bottom: 1.5rem; 
  margin-right: 33rem;
}

.ctaButton {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 282px;
  height: 44px; /* Height of the button */
  padding: 0; /* Remove padding to maintain the round shape */
  border-radius: 50px; /* Make the button round */
  font-size: 1.1rem; /* Button font size */
  background-color: #F45145; /* Button background color */
  color: #FEFDFC; /* Button text color */
  border: none; /* No border */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-right: 33rem;
  gap: 8px;
}

.ctaButton:hover {
  background-color: #ca3b3b; /* Darker shade on hover */
}

.advantages_container {
  display: flex; /* Flexbox for advantages section */
  justify-content: space-around; /* Distribute space around children */
  height: 8.4rem; /* Fixed height */
  background-color: #F4F3F3; /* Background color */
  padding: 20px 0; /* Padding on top and bottom */
  overflow-x: hidden;    /* Hides horizontal scrollbar if any slight overflow occurs */
}

.advantage {
  display: flex; /* Flexbox for each advantage item */
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center items horizontally */
  gap: 10px; /* Space between icon and text */
}

.iconBox {
  width: 60px; /* Width of the icon box */
  height: 60px; /* Height of the icon box */
  background-color: #d3d3d3; /* Gray background */
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Flexbox for centering the SVG */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.iconImage {
  object-fit: contain; /* Scale the icon to maintain aspect ratio */
}

.advantageText {
  margin-top: 8px; /* Space between icon and text */
  text-align: center; /* Center the text */
  font-size: 1rem; /* Font size for advantage text */
  color: #E2281B; /* Text color */
}

.bodyContent {
  display: flex; /* Flexbox for body content */
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  height: 850px;
  margin: 1.5rem 4rem;
  gap: 24px;
}

.bodyContentHeader {
  display: flex;              /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between the title and button */
  align-items: center;        /* Vertically align items in the center */
  padding: 20px 0;            /* Add padding for spacing */
  width: 100%;                /* Make the header span the full width */
}

.bodyContentTitle {
  font-size: 2rem;            /* Adjust the font size for the title */
  font-weight: 700;           /* Bold text */
  overflow: hidden;
}

.bodyContentButton {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 384px;
  height: 44px; /* Height of the button */
  padding: 0; /* Remove padding to maintain the round shape */
  border-radius: 50px; /* Make the button round */
  font-size: 1.1rem; /* Button font size */
  background-color: transparent; /* Button background color */
  color: #000000; /* Button text color */
  border: 2px solid #E2281B;
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.bodyContentButton:hover {
  color: #E2281B;
  transition: 0.4s;
}

.bodyContentGrid {
  display: flex;
  gap: 20px; /* Space between the product grid and the special showcase */
  justify-content: space-between; 
  height: 730px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  height: 700px; /* Full height matching the special showcase */
}

.specialProductShowcase {
  display: flex;
  height: 100%; /* Full height matching the grid */
}

.halfImageLeft {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the full area */
  object-position: center; /* Show left part of the image */
}

.halfImageRight {
  width: 100%;
  height: 720px;
  object-fit: cover; /* Ensure the image covers the full area */
  object-position: right; /* Show right part of the image */
}

.bodyCategories {
  display: flex; /* Flexbox for categories section */
  flex-direction: column; /* Stack children vertically */
  gap: 20px; /* Space between categories */
  margin: 1rem 4rem; /* Margin on top and bottom */
}

.advantages_container_categories {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow wrapping to a new line */
  justify-content: space-around; /* Space between items */
  gap: 16px; /* Adjust spacing between items */
}

.iconBoxCatg{
  width: 98px; /* Width of the icon box */
  height: 115px; /* Height of the icon box */
  background-color: #F4F3F3; /* Gray background */
  border-radius: 22px; /* Rounded corners */
  display: flex; /* Flexbox for centering the SVG */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  }

.advantageCtgText{
  text-align: center; /* Center the text */
  font-size: 1rem; /* Font size for advantage text */
}

.bankBanner {
  display: flex;
  margin: 1rem 4rem;
}

.bankBannerImage {
  width: 100%;
  height: 407px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}


/* carousel */

.saleCarousel {
  margin: 1rem 4rem;
}

.bodyContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselContainer {
  display: flex;
  overflow: hidden; /* Сховати елементи, які виходять за межі контейнера */
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease; /* Smooth transition for carousel effect */
}

/*Materials styles*/

.bodyMaterials {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin: 1rem 0; /* Remove side margins to prevent overflow */
  flex-direction: column;
  width: 100%; /* Ensure it takes up the full screen width */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.materialsContainer {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes up 100% of the container width */
  max-width: 100vw; /* Prevents it from exceeding the screen width */
  padding: 0 2rem; /* Optional horizontal padding */
  box-sizing: border-box; /* Ensure padding doesn’t cause overflow */
}

.material {
  display: flex;
  align-items: center;
  justify-content: center;
}


.bodyBestsellers {
  display: flex; /* Flexbox for body content */
  align-items: center; /* Center items horizontally */
  margin: 1rem 4rem;
  flex-direction: column;
}

.bestsellersContainer {
  display: flex;
  overflow: hidden; /* Сховати елементи, які виходять за межі контейнера */
  width: 100%; /* Ensure it takes up the full screen width */
  justify-content: center;
}
.partnersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it doesn't overflow the screen */
  overflow: none; /* Allow horizontal scrolling if content overflows */
}

.bodyPartners {
  display: flex;
  align-items: center;
  margin: 1rem 4rem;
  flex-direction: column;
  height: auto; /* Allow the height to adjust based on content */
  max-width: 100vw;
}

.partnersBckg{
  background: #F4F3F3;
  width: 100%;
}


.partners {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 fixed columns */
  grid-template-rows: auto;    /* Adjust the number of rows based on content */
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 3rem; /* Add some space between logos */
}

.partner {
  max-width: 150px; /* Adjust logo size */
  max-height: 100px; /* Adjust logo size */
}

.reviewsContainer {
  max-width: 100%;
}

.bodyReviews {
  display: flex; /* Flexbox for body content */
  align-items: center; /* Center items horizontally */
  margin: 1rem 4rem;
  flex-direction: column;
}

/* Responsive design */

@media (width < 1500px) {

  .heading {
    font-size: 3.5rem; 
    line-height: 70px;
  }

  .subheading {
    width: 350px;
    font-size: 1.2rem;
    margin-right: 25rem;
  }

  .ctaButton {
    width: 250px;
    height: 44px; 
    padding: 0; 
    border-radius: 50px; 
    font-size: 1.2rem; 
    margin-right: 25rem;
  }

  .specialProductShowcase {
    display: none;
  }

  .partner {
    max-width: 130px; /* Adjust logo size */
    max-height: 80px; /* Adjust logo size */
  }

  .partners{
    gap: 1rem;
  }
}


@media (width < 1024px) {

  .heading{
    font-size: 2.5rem; 
    line-height: 70px;
  }

  .subheading {
    width: 350px;
    font-size: 1.2rem;
    margin-right: 17rem;
  }

  .ctaButton {
    width: 250px;
    height: 44px; 
    padding: 0; 
    border-radius: 50px; 
    font-size: 1.2rem; 
    margin-right: 17rem;
  }

  .partners {
    grid-template-columns: repeat(5, 1fr); /* 5 columns on medium screens */
  }
  .partner {
    max-width: 110px; /* Adjust logo size */
    max-height: 60px; /* Adjust logo size */
  }

  .bodyContent {
    height: auto;
  }

  .bodyContentGrid {
    display: flex;
    overflow-x: auto; /* or overflow: hidden if you don’t want manual scroll */
    justify-content: flex-start; /* or center, depending on design */
    gap: 16px;
    position: relative; /* if you plan to add arrows */
    width: 100%;
    height: auto;
  }

  .productGrid {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
    gap: 16px;
    height: auto;
  }

  .productGrid > * {
    flex: 0 0 220px; /* Adjust as needed */
  }
}

@media (width < 768px) {
  .headerImage {
    height: 20rem; /* Reduce the height on smaller screens */
    padding-top: 5vh; /* Adjust the padding for smaller screens */
  }
  .partners {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on smaller screens */
  }
  
  .partner {
    max-width: 110px; /* Adjust logo size */
    max-height: 70px; /* Adjust logo size */
  }

  .heading {
    font-size: 2rem; 
    line-height: 50px;
  }

  .subheading {
    width: 350px;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 60px;
  }

  .ctaButton {
    width: 220px;
    height: 44px; 
    padding: 0; 
    border-radius: 50px; 
    font-size: 1.1rem; 
  }

  .bodyContentGrid {
    display: flex;
    overflow-x: auto; /* or overflow: hidden if you don’t want manual scroll */
    justify-content: flex-start; /* or center, depending on design */
    gap: 16px;
    position: relative; /* if you plan to add arrows */
    width: 100%;
    height: auto;
  }

  .productGrid {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
    gap: 16px;
    height: auto;
  }

  .productGrid > * {
    flex: 0 0 220px; /* Adjust as needed */
  }
}

@media (width < 600px)  { 

  .headerImage {
    height: 20rem; /* Further reduce the height on very small screens */
    padding-top: 4vh; /* Adjust the padding for very small screens */
  }

  .heading {
    font-size: 2rem; 
    line-height: 35px;
    margin: 0;
    }

  .subheading {
    width: 350px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

@media (width < 480px)  {

  .headerImage {
    height: 20rem; /* Further reduce the height on very small screens */
    padding-top: 4vh; /* Adjust the padding for very small screens */
  }

  .heading {
    font-size: 2.5rem; 
    line-height: 35px;
    margin: 0;
    }

  .subheading {
display: none;
  }

  .ctaButton {
    width: 180px;
    height: 44px; 
    padding: 0; 
    border-radius: 50px; 
    font-size: 1rem; 
    margin-right: 0;
    margin-top: 1rem;
  }

  .carousel {
    margin: 0.1rem 0.4rem;
    }
  .advantages_container_categories{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 3fr;
    margin-bottom: 14rem;
    overflow: hidden;
  }
.bodyContentHeader {
  display: flex;             
  justify-content: space-between;
  align-items: center;        
  padding: 10px 0;            
}

.bodyContentTitle {
  font-size: 1.5rem;            
}

.bodyContentButton {
  width: 170px;
  height: 44px; 
  padding: 0; 
}



  .bodyContent,
  .bodyCategories {
    margin: 1rem 1rem;
  }

  .iconBoxCatg {
    margin: 0.3rem;
  }

  .partners {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on mobile */
    gap: 1rem;
  }

  .partner {
    max-width: 90px; /* Adjust logo size */
    max-height: 60px; /* Adjust logo size */
  }
  .bodyContentGrid {
    display: flex;
    overflow-x: auto; /* or overflow: hidden if you don’t want manual scroll */
    justify-content: flex-start; /* or center, depending on design */
    gap: 16px;
    position: relative; /* if you plan to add arrows */
    width: 100%;
    height: auto;
  }

  .productGrid {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
    gap: 16px;
    height: auto;
  }

  .productGrid > * {
    flex: 0 0 220px; /* Adjust as needed */
  }

}
