.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}


.headerImage {
  height: 540px; /* Adjust the height of your header image section */
  background-image: url('/image_mainscreen.png'); /* Your header image */
  background-size: cover; /* Cover the entire area */
  background-position: center -10rem; /* Adjust the background position */
  display: flex;
  flex-direction: column; /* Stack header content vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
  padding-top: 6rem; /* Optional: add some space at the top */
}

.heading {
  font-size: 4rem; /* Main heading size */
  font-weight: 900;
  font-style: italic;
  line-height: 88px;
  color: #4A502B;
  padding-bottom: 10px; /* Optional: add space below if needed */
  margin-bottom: 10px;
}

.subheading {
  width: 400px;
  height: 84px;
  font-size: 1.125rem; /* Subheading size */
  margin-bottom: 3rem; /* Space below subheading */
  margin-right: 33rem;
}

.ctaButton {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 282px;
  height: 44px; /* Height of the button */
  padding: 0; /* Remove padding to maintain the round shape */
  border-radius: 50px; /* Make the button round */
  font-size: 1.1rem; /* Button font size */
  background-color: #F45145; /* Button background color */
  color: #FEFDFC; /* Button text color */
  border: none; /* No border */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-right: 33rem;
  gap: 8px;
}

.ctaButton:hover {
  background-color: #ca3b3b; /* Darker shade on hover */
}

.advantages_container {
  display: flex; /* Flexbox for advantages section */
  justify-content: space-around; /* Distribute space around children */
  height: 8.1rem; /* Fixed height */
  background-color: #F4F3F3; /* Background color */
  padding: 20px 0; /* Padding on top and bottom */
}

.advantage {
  display: flex; /* Flexbox for each advantage item */
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center items horizontally */
  gap: 10px; /* Space between icon and text */
}

.iconBox {
  width: 60px; /* Width of the icon box */
  height: 60px; /* Height of the icon box */
  background-color: #d3d3d3; /* Gray background */
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Flexbox for centering the SVG */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.iconImage {
  object-fit: contain; /* Scale the icon to maintain aspect ratio */
}

.advantageText {
  margin-top: 8px; /* Space between icon and text */
  text-align: center; /* Center the text */
  font-size: 1rem; /* Font size for advantage text */
  color: #E2281B; /* Text color */
}

.bodyContent {
  display: flex; /* Flexbox for body content */
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  height: 850px;
  margin: 1.5rem 4rem;
  gap: 24px;
}

.bodyContentHeader {
  display: flex;              /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between the title and button */
  align-items: center;        /* Vertically align items in the center */
  padding: 20px 0;            /* Add padding for spacing */
  width: 100%;                /* Make the header span the full width */
}

.bodyContentTitle {
  font-size: 2rem;            /* Adjust the font size for the title */
  font-weight: 700;           /* Bold text */
}

.bodyContentButton {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 384px;
  height: 44px; /* Height of the button */
  padding: 0; /* Remove padding to maintain the round shape */
  border-radius: 50px; /* Make the button round */
  font-size: 1.1rem; /* Button font size */
  background-color: transparent; /* Button background color */
  color: #000000; /* Button text color */
  border: 2px solid #E2281B;
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.bodyContentButton:hover {
  color: #E2281B;
  transition: 0.4s;
}

.bodyContentGrid {
  display: flex;
  gap: 20px; /* Space between the product grid and the special showcase */
  justify-content: space-between; 
  height: 730px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  height: 700px; /* Full height matching the special showcase */
}




.specialProductShowcase {
  display: flex;
  width: 30%; /* Take up the remaining 30% of the width */
  height: 720px; /* Full height matching the grid */
  gap: 8px;
}

.halfImageContainer {
  width: 100%;
  height: 648px; /* Each image takes up half the height */
}

.halfImageLeft {
  width: 100%;
  height: 720px;
  object-fit: cover; /* Ensure the image covers the full area */
  object-position: left; /* Show left part of the image */
}

.halfImageRight {
  width: 100%;
  height: 720px;
  object-fit: cover; /* Ensure the image covers the full area */
  object-position: right; /* Show right part of the image */
}

.bodyCategories {
  display: flex; /* Flexbox for categories section */
  flex-direction: column; /* Stack children vertically */
  gap: 20px; /* Space between categories */
  margin: 1rem 4rem; /* Margin on top and bottom */
}

.advantages_container_categories{
  display: flex; /* Flexbox for advantages section */
  justify-content: space-around; /* Distribute space around children */
  height: 8.1rem; /* Fixed height */
}

.iconBoxCatg{
  width: 98px; /* Width of the icon box */
  height: 115px; /* Height of the icon box */
  background-color: #F4F3F3; /* Gray background */
  border-radius: 22px; /* Rounded corners */
  display: flex; /* Flexbox for centering the SVG */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  }

.advantageCtgText{
  text-align: center; /* Center the text */
  font-size: 1rem; /* Font size for advantage text */
}

.bankBanner {
  display: flex;
  margin: 1rem 4rem;
}

.bankBannerImage {
  width: 100%;
  height: 407px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}


/* carousel */

.saleCarousel {
  margin: 1rem 4rem;
}

.bodyContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselContainer {
  display: flex;
  overflow: hidden; /* Сховати елементи, які виходять за межі контейнера */
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease; /* Smooth transition for carousel effect */
}

/*Materials styles*/

.bodyMaterials {
  display: flex; /* Flexbox for body content */
  align-items: center; /* Center items horizontally */
  margin: 1rem 4rem;
  flex-direction: column;
}

.materialsContainer {
  display: flex;
  flex-direction: column;
}

.material {
  display: flex;
  align-items: center;
  justify-content: center;
}


.bodyBestsellers {
  display: flex; /* Flexbox for body content */
  align-items: center; /* Center items horizontally */
  margin: 1rem 4rem;
  flex-direction: column;
}

.bestsellersContainer {
  display: flex;
  overflow: hidden; /* Сховати елементи, які виходять за межі контейнера */
  justify-content: center;
}

.bodyPartners {
  width: 100vw; /* Full width */
  background: #F4F3F3;
  margin: 1rem 0;
  height: 364px;
}

.partners {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 fixed columns */
  grid-template-rows: repeat(2, 1fr);    /* 2 fixed rows */
  justify-items: center;
  align-items: center;
  margin: 0 4rem;
}

.partner {
  margin: 1rem 0;
  max-width: 150px; /* Adjust logo size if needed */
  max-height: 100px; /* Adjust logo size if needed */
}

.bodyReviews {
  display: flex; /* Flexbox for body content */
  align-items: center; /* Center items horizontally */
  margin: 1rem 4rem;
  flex-direction: column;
}












/* Responsive design */





@media (max-width: 600px) {
  .carousel {
    margin: 0.1rem 0.4rem;
    }
  .advantages_container_categories{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 3fr;
    margin-bottom: 14rem;
  }
.bodyContentHeader {
  display: flex;             
  justify-content: space-between;
  align-items: center;        
  padding: 10px 0;            
}

.bodyContentTitle {
  font-size: 1.5rem;            
}

.bodyContentButton {
  width: 170px;
  height: 44px; 
  padding: 0; 
}

  .bodyContent,
  .bodyCategories {
    margin: 1rem 1rem;
  }

  .iconBoxCatg {
    margin: 0.3rem;
  }


}

@media (max-width: 400px) {
  .saleCarousel {
    margin: 0.1rem 0.4rem;
  }

  .productGrid {
    grid-template-columns: 2, 1fr ; /* 1 card per row on very small screens */
    grid-template-rows: 3, 1fr;

  }
}