.imageSection {
    display: flex;
    flex-direction: column;
  }
  
  /* Main image container */
  .mainImageContainer {
    margin-bottom: 1rem; 
  }

  .mainImage {
    object-fit: cover;
    height: 450px;
    width: 100%;
  }
  
  /* Carousel container */
  .carouselContainer {
    display: flex;
    gap: 0.5rem;
  }
  
  /* Thumbnails */
  .thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 1px solid transparent;
  }
  
  .thumbnailSelected {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid #000; /* highlight selected thumbnail */
  }

  @media screen and (max-width: 768px) {
  }
  

  @media screen and (max-width: 480px) {
    .mainImage {
      height: 240px;
    }

      /* Carousel container */
  .carouselContainer {
    display: flex;
    gap: 0.5rem;
  }
  }